* {
    padding: 0;
    margin: 0;
}

.container {
    padding-top: 30px;
    text-align: center;
    margin: auto;
    border: 2px solid black;
    width: 30vw;
    /* height: 95vh; */
}

p {
    margin: 20px 0;
}

#amount {
    margin: 10px;
}

#img {
    margin: 80px 0;
    width: 20vw;
}

@media screen and (max-width:396px) {
    .container {
        text-align: center;
        margin: auto;
        border: 2px solid black;
        width: 80vw;
    }

    #img {
        width: 50vw;
    }
}